
@{
    ViewBag.Title = "records";
    Layout = "~/Views/shared/_doktorLayout.cshtml";
}

<!-- ################# Our Team Starts Here#######################--->
<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>IKIGAI HASTANESİ</h2>
            <ul>
                <li> <a href="/home/index"><i class="fas fa-home"></i> Anasayfa</a></li>
                <li><i class="fas fa-angle-double-right"></i> Kayıtlar</li>
            </ul>
        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->
<section class="key-features kf-2">
    <div class="container">
        <div class="inner-title">


        </div>

        <div class="row">
            

            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fas fa-user-md"></i> 
                    <a href="/doktor/tahlil" target="_blank"><h5>Hasta Durumu</h5> </a>
                    <p>Doktorun Hastaya Koyduğu Teşhisler & İlaçlar</p>

                </div>
            </div>

           






    </div>

</section>
