
@{
    ViewBag.Title = "about";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}


<!-- ################# Our Team Starts Here#######################--->
<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>IKIGAI HASTANESİ</h2>
            <ul>
                <li> <a href="/home/index"><i class="fas fa-home"></i> Anasayfa</a></li>
                <li><i class="fas fa-angle-double-right"></i> Hakkında </li>
            </ul>
        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->
<!--  ************************* About Us Content Start Here  ************************** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/assets/images/blog/blog_02.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>HASTANEMİZ;</h2>
                <p style="text-align:left;"> Amacımız her geçen gün artan ihtiyaçlara cevap verebilmek için gelişen teknolojiyi yakından izleyen hastanemiz tüm çalışanlarıyla hasta ve hasta yakınlarına güler yüzlü sağlık hizmeti sunmaktadır.</p>
                
               <p style="text-align:left;">Önce insan ve sağlık düşüncesi ışığında kaliteli, etik, hasta haklarına saygılı ve hasta memnuniyeti odaklı hizmetiyle bölgede lider olmayı vizyon edinen hastanemiz, uluslararası standartlarda sağlık hizmeti sunmaktadır.</p>
               <p style="text-align:left;">Hastanemiz, tam donanımlı ameliyathaneleri, doğumhanesi, yoğun bakım ve yeni doğan yoğun bakım üniteleri, ileri teknolojiye sahip görüntüleme birimleri, poliklinikleri, 24 saat hizmet veren tam donanımlı acil servisi ve ambulans servisi ile Marmaris ve bölge halkına, gelen yerli ve yabancı misafirlere, nitelikli sağlık hizmeti sunmaktadır.</p>
            </div>
        </div>

    </div>
</div>

<!-- ######## About US End ####### -->
<!-- ################# Our Team Starts Here#######################--->



