
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<!-- ################# Our Team Starts Here#######################--->
<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>IKIGAI HASTANESİ</h2>
            <ul>
                <li> <a href="/home/index"><i class="fas fa-home"></i> Anasayfa</a></li>
                <li><i class="fas fa-angle-double-right"></i> İletişim </li>
            </ul>
        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->
<!--  ************************* About Us Content Start Here  ************************** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/assets/images/blog/blog_01.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <p> &nbsp; &nbsp;</p>
                <p> &nbsp; &nbsp;</p>
                <p> &nbsp; &nbsp;</p>
                <p> &nbsp; &nbsp;</p>
                <h2 style="margin-top:10px; text-align:center;"><b>Adres </b></h2>
                <p style="text-align:center;"> <strong> IKIGAI HASTANESİ </strong> <br /> <strong> &nbsp; &nbsp;  Düzce Merkez </strong><br /> <strong> &nbsp; &nbsp; 0380 556 0000 </strong></p>

            </div>
        </div>

    </div>
</div>



<!-- ######## About US End ####### -->
<!-- ################# Our Team Starts Here#######################--->














                    </div>


                </div>

            </div>
        </div>

    </div>


