
@{
    ViewBag.Title = "records";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}
    
<!-- ################# Our Team Starts Here#######################--->
<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>IKIGAI HASTANESİ</h2>
            <ul>
                <li> <a href="/home/index"><i class="fas fa-home"></i> Anasayfa</a></li>
                <li><i class="fas fa-angle-double-right"></i> Kayıtlar</li>
            </ul>
        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->
<section class="key-features kf-2">
    <div class="container">
        <div class="inner-title">


        </div>

        <div class="row">
            

            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fas fa-user-md"></i>
                    <a href="/home/teshisler">
                        <h5>Hasta Durumu</h5>
                        <p>Doktorun Hastaya Koyduğu Teşhisler & İlaçlar</p>
                    </a>

                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fas fa-briefcase-medical"></i>
                    <a href="/home/labaratuvar">
                        <h5>Labaratuvar Ve Ameliyat Durumu </h5>
                        <p>Hastanın Tahlil Ve Ameliyat Bilgileri</p>
                        </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-key">
                    <i class="fas fa-capsules"></i>
                    <a href="/home/ucretler">
                        <h5>Ücretler</h5>
                        <p>Ameliyat Ve Tahlil Ücretleri</p>
                        </a>
                </div>
            </div>

            






    </div>

</section>
